<footer class="page-footer " style="background-color: rgba(33, 33, 31, 0.8);">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">О нас</h5>
        <p class="grey-text text-lighten-4">AtomMC - это первый игровой агрегатор в Мире. В нем собраны все полезные функции как для игроков, так разработчиков серверов.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Навигация</h5>
        <ul class="footer-navigation">
          <li><a href="">Главная</a></li>
          <li><a href="">Хостинг</a></li>
          <li><a href="">Мониторинг</a></li>
          <li><a href="">Новости</a></li>
          <li><a href="">Группа VK</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017-2018 
    </div>
  </div>
</footer>