<div class="blue-grey darken-2" style="">
        <div class="container">
          <div class="authBlock right " style="margin-right: 15px">
            <p style="margin: 5px">
              <a href="#">
                Войти</a>
                <span class="slash">/</span>
              <a href="#">
                Зарегистироваться
              </a>
            </p>
          </div>
        </div>
      </div>

    
      <!-- Dropdown Structure -->
      <ul id="dropdown-button-laptop-yet" class="dropdown-content">
        <li><a href="#!">О нас</a></li>
        <li><a href="#!">Правила</a></li>
        <li><a href="#!">Эксклюзив</a></li>
        <li><a href="#!">Сообщество VK</a></li>
      </ul>

      <ul id="dropdown-button-mobile-yet" class="dropdown-content">
        <li><a href="#!">О нас</a></li>
        <li><a href="#!">Правила</a></li>
        <li><a href="#!">Эксклюзив</a></li>
        <li><a href="#!">Сообщество VK</a></li>
      </ul>

      <ul id="dropdown-button-laptop-support" class="dropdown-content">
        <li><a href="#!">Написать в поддержку</a></li>
        <li><a href="#!">База знаний</a></li>
      </ul>

      <ul id="dropdown-button-mobile-support" class="dropdown-content">
        <li><a href="#!">Написать в поддержку</a></li>
        <li><a href="#!">База знаний</a></li>
      </ul>
    
      <nav style="background-color: #567F83">   
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo left">AtomMC</a>
            <a href="" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="">Главная</a></li>
              <li><a href="">Хостинг</a></li>
              <li><a href="">Мониторинг</a></li>
              <li><a href="">Новости</a></li>
              <li><a class="dropdown-button-laptop-support" href="#!" data-activates="dropdown-button-laptop-support">Поддержка<i class="material-icons right">arrow_drop_down</i></a></li>
              <!--<li><a href="">Новости</a></li>-->
              <li><a class="dropdown-button-laptop-yet" href="#!" data-activates="dropdown-button-laptop-yet">Ещё<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="mobile-demo" class="side-nav">
              <li><a href="">Главная</a></li>
              <li><a href="">Хостинг</a></li>
              <li><a href="">Мониторинг</a></li>
              <li><a href="">Правила</a></li>
              <li><a class="dropdown-button-mobile-support" href="#!" data-activates="dropdown-button-mobile-support">Поддержка<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button-mobile-yet" href="#!" data-activates="dropdown-button-mobile-yet">Ещё<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </div>
      </nav>