<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход/Регистрация</title>
</head>
<body>
<form action="{% url 'login' %}?next={{ next }}" method="POST">
    {% csrf_token %}
    {% if fail %}
        Неправильный логин или пароль
    {% endif %}
    <input name="username">
    <input type="password" name="password">
    {%  if captcha %}
        Введите капчу
    {% endif %}
    <input type="submit" value="Войти">
    <a href="{% url 'pass_recovery' %}">Восстановить пароль</a>
</form>
</body>
</html>