{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% include "other/links.html" %}

    <title>Хостинг серверов Minecraft</title>
  </head>
  <body style="margin: 0">
    <div class="wrapper">
      <!-- Header -->
      <div id="header1" class="header main-h">
        {% include "other/header.html" %}

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="height: 100%;">
          <div class="container">
            <div class="carousel-inner" role="listbox">

              <div class="carousel-item active">
                <div class="container">
                  <h1><strong>EvilGame - </strong>новый взгляд на услуги <br> по созданию и продвижению <br>игровых серверов <br>Minecraft</h1>
                </div>
              </div>

              <div class="carousel-item">
                <div class="container">
                  <h1><strong>EvilGame - </strong>новый взгляд на услуги <br> по созданию и продвижению <br>игровых серверов <br>Minecraft</h1>
                </div>
              </div>

              <div class="carousel-item">
                <div class="container">
                  <h1><strong>EvilGame - </strong>новый взгляд на услуги <br> по созданию и продвижению <br>игровых серверов <br>Minecraft</h1>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- <a href="#content" class="arrow">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </a> -->
        
      </div>
      
      <!-- Content -->
      <div id="content" class="content">
        <div class="content-header-block">
          <h2>VPS Сервера</h2>
        </div>
        <div class="content-content-block content-background">
          <div class="content-content-header-block">
            <div class="container">
              <h2>Start Edition</h2>
              <p>Все тарифы, входящие в серию Start Edition, получают скидку на первую покупку звезд рейтинга на нашем мониторинге! Скидка варьируется от 5% до 15%, в зависимости от мощности вашего тарифа.</p>
            </div>
          </div>

          <div class="content-content-rates-block">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <div class="card card-hover rates-card">
                    <div class="card-header start-card-header nav">
                      <h3 style="margin: 0; color: white">{{ servers.0.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.0.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.0.processor }}</strong></li>
                        <li><strong>{{ servers.0.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.0.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                      <div style="text-align: center; margin-top: 20px;">
                        <a href="#" class="btn start-btn">Купить</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rates-margin-fix">
                  <div class="card card-hover rates-card">
                    <div class="card-header start-card-header nav">
                      <h3 style="margin: 0; color: white">{{ servers.1.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.1.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.1.processor }}</strong></li>
                        <li><strong>{{ servers.1.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.1.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                      <div style="text-align: center; margin-top: 20px;">
                        <a href="#" class="btn start-btn">Купить</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rates-margin-fix">
                  <div class="card card-hover rates-card">
                    <div class="card-header start-card-header nav">
                      <h3 style="margin: 0; color: white">{{ servers.2.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.2.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.2.processor }}</strong></li>
                        <li><strong>{{ servers.2.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.2.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                      <div style="text-align: center; margin-top: 20px;">
                        <a href="#" class="btn start-btn">Купить</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="content-content-block mt-content">
            <div class="content-content-header-block">
              <div class="container">
                <h2>Premium Edition</h2>
                <p>Все тарифы, входящие в серию Start Edition, получают скидку на первую покупку звезд рейтинга на нашем мониторинге! Скидка варьируется от 5% до 15%, в зависимости от мощности вашего тарифа.</p>
              </div>
            </div>

            <div class="content-content-rates-block">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="card card-hover rates-card">
                      <div class="card-header premium-card-header nav">
                        <h3 style="margin: 0; color: white">{{ servers.3.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.0.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.3.processor }}</strong></li>
                        <li><strong>{{ servers.3.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.3.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                        <div style="text-align: center; margin-top: 20px;">
                          <a href="#" class="btn premium-btn">Купить</a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rates-margin-fix">
                    <div class="card card-hover rates-card">
                      <div class="card-header premium-card-header nav">
                        <h3 style="margin: 0; color: white">{{ servers.0.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.0.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.4.processor }}</strong></li>
                        <li><strong>{{ servers.4.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.4.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                        <div style="text-align: center; margin-top: 20px;">
                          <a href="#" class="btn premium-btn">Купить</a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rates-margin-fix">
                    <div class="card card-hover rates-card">
                      <div class="card-header premium-card-header nav">
                        <h3 style="margin: 0; color: white">{{ servers.5.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.5.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.5.processor }}</strong></li>
                        <li><strong>{{ servers.5.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.5.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                        <div style="text-align: center; margin-top: 20px;">
                          <a href="#" class="btn premium-btn">Купить</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="content-content-block mt-content">
            <div class="content-content-header-block">
              <div class="container">
                <h2>Pro Edition</h2>
                <p>Все тарифы, входящие в серию Start Edition, получают скидку на первую покупку звезд рейтинга на нашем мониторинге! Скидка варьируется от 5% до 15%, в зависимости от мощности вашего тарифа.</p>
              </div>
            </div>

            <div class="content-content-rates-block">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="card card-hover rates-card">
                      <div class="card-header pro-card-header nav">
                        <h3 style="margin: 0; color: white">{{ servers.6.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.6.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.6.processor }}</strong></li>
                        <li><strong>{{ servers.6.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.6.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                        <div style="text-align: center; margin-top: 20px;">
                          <a href="#" class="btn pro-btn">Купить</a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rates-margin-fix">
                    <div class="card card-hover rates-card">
                      <div class="card-header pro-card-header nav">
                        <h3 style="margin: 0; color: white">{{ servers.7.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.7.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.7.processor }}</strong></li>
                        <li><strong>{{ servers.7.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.7.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                        <div style="text-align: center; margin-top: 20px;">
                          <a href="#" class="btn pro-btn">Купить</a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rates-margin-fix">
                    <div class="card card-hover rates-card">
                      <div class="card-header pro-card-header nav">
                        <h3 style="margin: 0; color: white">{{ servers.8.name }}</h3>
                      <h2 class="ml-auto" style="margin: 0; color: white">{{ servers.8.price }} ₽</h2>
                    </div>
                    <div class="card-block">
                      <ul>
                        <li>Процессор <strong>{{ servers.8.processor }}</strong></li>
                        <li><strong>{{ servers.8.ram }}</strong> RAM</li>
                        <li><strong>{{ servers.8.disk }}</strong> SSD</li>
                        <li><strong>Root</strong> доступ и <strong>Панель управления</strong></li>
                        <li>Поддержка <strong>Bangeecord</strong></li> 
                        <li><strong>Выделенный IP</strong></li>  
                      </ul>
                        <div style="text-align: center; margin-top: 20px;">
                          <a href="#" class="btn pro-btn">Купить</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- why us -->
        <div class="content-header-block">
          <div class="h2">Почему мы?</div>
        </div>
        <div class="content-content-block w container">
          <div class="wu-block">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix"">
                  <img src="{% static 'img/shield (8).png' %}" alt="">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 wu-block-m-text-fix">
                  <h3>Защита от DDOS атак</h3>
                  <p>Каждый сервер оборудован аппаратной защитой от DDOS атак, что гарантирует безопасность вашему бизнесу! Так же у нас имеется "самописная" защита от БОТ-АТАК, которая предоставляется совершенно бесплатно! Нужно только написать в службу поддержки.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="wu-block wu-block-pt wu-block-mt">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix wu-block-nvis"">
                  <img src="{% static 'img/support (1).png' %}" alt="">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 offset-md-2 col-lg-8 wu-block-m-text-fix wu-ra-block">
                  <h3>Круглосуточная поддержка через ВКонтакте</h3>
                  <p>Мы предоставляем поддержку через сообщения <a href="">нашей группы ВКонтакте</a>, вам не прийдется заходить в личный кабинет сайта для решения технических или иных проблем. За поддержку отвечает команда высококвалифицированных специалистов.</p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix wu-block-vis">
                  <img src="{% static 'img/support (1).png' %}" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="wu-block wu-block-pt wu-block-mt">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix"">
                  <img src="{% static 'img/recommended.png' %}" alt="">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 wu-block-m-text-fix">
                  <h3>Привилегии для наших клиентов</h3>
                  <p>Нашим клиентам мы предоставляем большой спектр привилегий на нашем мониторинге. При покупки любого сервера вы получаете скидку или бесплатные звезды рейтинга на его раскрутку, что даст вам большой скачок онлайна.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="wu-block wu-block-pt wu-block-mt">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix wu-block-nvis"">
                  <img src="{% static 'img/dollar.png' %}" alt="">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 offset-md-2 col-lg-8 wu-block-m-text-fix wu-ra-block">
                  <h3>У нас самые низкие цены в СНГ</h3>
                  <p>Мы предоставляем сервера Minecraft по самым низким ценам в СНГ. Это обусловленно тем, что мы не завышаем стоимость "железа". Наша деятельность направлена на благополучие вас и вашего бизнеса без лишних затрат.</p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix wu-block-vis">
                  <img src="{% static 'img/dollar.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="wu-block wu-block-pt wu-block-mt">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wu-block-m-img-fix"">
                  <img src="{% static 'img/284075.png' %}" alt="">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 wu-block-m-text-fix">
                  <h3>Быстрые сервера</h3>
                  <p>Наши сервера работают на базе мощнейших процессоров от Intel с частотой до 3.8 GHz: <a href="https://ark.intel.com/ru/products/82767/Intel-Xeon-Processor-E5-1680-v3-20M-Cache-3_20-GHz" target="_blank">Intel® Xeon® Processor E5-1680 v3</a>. Каждый сервер находится в отдельном cлоте, что гарантирует обещанную мощность и отсутствие помех со стороны других серверов. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include "other/footer.html" %}
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include "other/scripts.html" %}

<!-- VK Widget -->
  </body>
</html>