{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      
      {% include "other/links.html" %}

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>{% block panel-title %}{% endblock %} - EvilGame</title>
    </head>
    
    <body>
      <div class="wrapper">
        <div id="header1" class="header">
          {% include "other/header.html" %}
          
          <div class="panel-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-md-2 panel-nav-p-fixer">
                  <div class="btn-group-vertical side-nav" role="group" aria-label="Vertical button group" style="width: 100%;">
                    <div class="ava" style="width: 100%; background: #537597">
                      <div class="user-photo">
                        <img src="{{ user.photo.url }}" alt="">
                      </div>
                      <br>
                    </div>
                    <button onclick="window.location.href='{% url "profile" %}'" type="button" class="btn btn-secondary">Баланс: {{user.money}} ₽</button>
                    <button onclick="window.location.href='{% url "profile" %}'" type="button" class="btn btn-secondary">Профиль</button>
                    <button onclick="window.location.href='{% url "servers" %}'" type="button" class="btn btn-secondary">Сервера</button>
                    <button onclick="window.location.href='{% url "login" %}'" type="button" class="btn btn-secondary" style="border-radius: 0px 0px 6px 6px;-moz-border-radius: 0px 0px 6px 6px;-webkit-border-radius: 0px 0px 6px 6px;">Настройки</button>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card tbp-card panel-card">
                    <div class="card-header panel-card-header">
                      <div class="container">
                        {% block panel-header %}

                        {% endblock %}
                      </div>
                    </div>
                    <div class="card-body panel-card-body">
                      <div class="container">
                        {% block panel-body %}

                        {% endblock %}
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      

      <!--Import jQuery before materialize.js-->
      {% include "other/scripts.html" %}
      <script src="{% static 'js/form-validate.js' %}" defer></script>
    </body>
  </html>