{% extends "panel.html" %}
{% load static %}
{% block panel-title %}Профиль{% endblock %}

{% block panel-header%}
<h3>Профиль</h3>
{% endblock %}

{% block panel-body %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img style="width: 150px;" class="card-img-top" src="{% static 'img/support (1).png' %}" alt="Card image cap">
            <div class="card-body">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <span>ФИО:{{user.first_name}} {{user.last_name}}</span>
                    </li>
                    <li class="nav-item">
                      <span>E-mail: {{user.email}}</span>
                    </li>
                    <li class="nav-item">
                      <span>Баланс: {{user.money}}</span>
                    </li>
                  </ul>
            </div>
        </div>
    </div> 
</div>
{% endblock %}